<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Nat.SqlDbInitializer" type="Nat.SqlDbInitializer.DbInitializerSectionGroup, Nat.SqlDbInitializer">
      <section name="DbInitializer" type="Nat.SqlDbInitializer.DbInitializerSection, Nat.SqlDbInitializer" />
    </sectionGroup>
    <sectionGroup name="Nat.Initializer" type="Nat.Web.Tools.Initialization.InitializerSectionGroup, Nat.Web.Tools">
      <section name="Initializer" type="Nat.Web.Tools.Initialization.InitializerSection, Nat.Web.Tools" />
    </sectionGroup>
    <sectionGroup name="Nat.WebReportManager" type="Nat.Web.ReportManager.ReportInitializerSectionGroup, Nat.Web.ReportManager">
      <section name="ReportInitializer" type="Nat.Web.ReportManager.ReportInitializerSection, Nat.Web.ReportManager" />
    </sectionGroup>
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="mvdConnectionString" connectionString="Data Source=SHPAKOVSKIY-PC\SQLEXPRESS;Initial Catalog=KVV;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="KVVConnectionString" connectionString="Data Source=STENDNAT;Initial Catalog=KVV;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <Nat.SqlDbInitializer>
    <DbInitializer connectionStringName="mvdConnectionString" />
  </Nat.SqlDbInitializer>
  <Nat.Initializer>
    <Initializer>
      <initializerClasses>
        <add className="Nat.SqlDbInitializer.DbInitializer, Nat.SqlDbInitializer" />
      </initializerClasses>
    </Initializer>
  </Nat.Initializer>
  <Nat.WebReportManager>
    <ReportInitializer columnFilterFactoryType="Nat.Web.Controls.Filters.WebColumnFilterFactory" reportingServicesUserDomain="STENDNAT" reportingServicesUserName="reportservicesuser" reportingServicesPassword="1q2w3e4r">
      <reportPlugins>
        <add reportPluginName="PersonalCompositionReports.ReportList" />
        <add reportPluginName="MonitoringReports.ReportList" />
        <add reportPluginName="CombatTrainingReports.ReportList" />
        <add reportPluginName="CombatTraining_UBP.ReportList" />
        <add reportPluginName="PersonalDisciplinaryPracticalReports.ReportList" />
        <add reportPluginName="OrgStructureStaffScheduleReports.ReportList" />
        <add reportPluginName="OrderReports.ReportList" />
        <add reportPluginName="Disease.ReportList" />
        <add reportPluginName="DiseaseReports.ReportList" />
        <add reportPluginName="ActionEmploymentConvoyReports.ReportList" />
        <add reportPluginName="AccountingForProtectionCorrectionsReports.ReportList" />
        <add reportPluginName="RegistrationActionsActiveService.ReportList" />
        <add reportPluginName="ProtectionOfVGOReports.ReportList" />
        <add reportPluginName="AccountActions_PPSReports.ReportList" />
        <add reportPluginName="AccountFlowOfTrafficReports.ReportList" />
        <add reportPluginName="ControlCarring_KSUReports.ReportList" />
      </reportPlugins>
    </ReportInitializer>
  </Nat.WebReportManager>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.2.1.0" newVersion="2017.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>