#pluginsTree {
    border-bottom: 0;
    border-top: 0;
}

.searchMenuDIV {
    width: 100%;
    position: relative;
    clear: right;
}

.searchMenuInput {
    width: 100%;
    padding-right: 20px;
}

input.k-textbox.searchMenuInput {
    padding-right: 20px;
}

.searchPlanLink {
    top: 0;
    right: 0;
    padding: 3px 3px 4px 3px;
    position: absolute;
    cursor: pointer;
    font-size: 0.8rem;
}

.searchPlanLink span {
    width: 20px;
}

.k-selectable tr {
    cursor: pointer;
}
.k-selectable tr.k-treelist-group {
    cursor: pointer;
}
.k-selectable tr.k-treelist-group {
    cursor: default;
}
.k-selectable tr.k-treelist-group .k-i-collapse,
.k-selectable tr.k-treelist-group .k-i-expand {
    cursor: pointer;
}

.k-grid-toolbar.reportToolbar {
    border-right: 1px solid #c9c9c9;
    min-height: 28px;
}

#reportParameters {
    width: 100%;
    /*margin-top: 16px;
    margin-bottom: 10px;*/
    padding-top: 16px;
    border-bottom: 1px solid rgb(201, 201, 201);
    min-height: 35px;
}

.editor-label.m-editor-label {
    width: 20%;
}
.editor-field.m-editor-parameter {
    width: 75%;
}

.editor-field.m-editor-filterTypes {
    width: 20%;
    float: left;
}

.editor-field.m-editor-value1,
.editor-field.m-editor-value2 {
    width: 25%;
    float: left;
    margin-left: 1%
}
.editor-field.m-editor-value {
    width: 79%;
}

.reportResultDiv {
    text-align: center;
    padding-top: 6px;
}

#reportResultDiv {
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
    display: inline-block;
}
#reportWindow {
    margin-left: 6px;
}